@model SchoolApp2.Dto.CreateCourseRequestModel



<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                    <h1 class="tagcolor" style="color:mediumblue">Create</h1>
                    <p class="tagcolor" style="color:mediumblue">Please fill in this form to create a course.</p>
                    <hr class="tagcolor" style="color:mediumblue">

                </div>
                <form asp-action="AddCourse">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label asp-for="CourseName" class="control-label"></label>
                            <input asp-for="CourseName" class="form-control" />
                            <span asp-validation-for="CourseName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="CourseCode" class="control-label"></label>
                            <input asp-for="CourseCode" class="form-control" />
                            <span asp-validation-for="CourseCode" class="text-danger"></span>
                        </div>
                        
                       
                    </div>
                       <div class="form-row">
                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label  class="control-label">Department</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.dept" >
                                <option value="">--Select Department--</option>
                            </select>
                        </div>
                       
                    </div>
                        
                    <div class="form-group ">
                        <input href="#myModal" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}